alabaster==1.0.0
babel==2.16.0
black==24.10.0
build==1.2.2.post1
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.9
docutils==0.21.2
filelock==3.16.1
flake8==7.1.1
identify==2.6.1
idna==3.10
imagesize==1.4.1
isort==5.13.2
Jinja2==3.1.4
MarkupSafe==3.0.1
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pre_commit==4.0.1
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pyproject_hooks==1.2.0
PyYAML==6.0.2
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==8.1.0
sphinx-autodoc-typehints==2.5.0
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
-e git+ssh://git@github.com/imjesusleal/pa-grupo5.git@e3d90482940e6b2e6efb30898bef091bd05f6846#egg=TPO_GRUPO5
urllib3==2.2.3
virtualenv==20.26.6
